/* основний колір тексту #757575 */
/* колір заголовків #212121 */
/* акцент #2196F3 */
/* колір тексту в футері і герої #FFFFFF */
/* колір фону герой, футер #2F303A*/
/* колір фону секції Наша команда #F5F4FA*/

:root {
    /* bg color */
    --accent-bg-color: #2F303A;
    --second-bg-color: #F5F4FA;
    --primary-bg-color: #FFFFFF;

    /* text color */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-black-color:#000000;
 
    /* btn */
    --btn-bg-hover: #188CE8;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* button */
.button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

/* logo */
.logo, .studio {
    font-family:Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo {
    color: var(--accent-color)
}

.studio {
    color: var(--primary-black-color);
}

/* site nav */

.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

} 

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* contacts */
.contacts .link {
   color:  var(--primary-text-color);

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--accent-bg-color);
    
}

.hero-title {
    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
    color:var(--primary-white-color);
    background-color: var(--btn-bg-hover)

}

/* section */
.section-title {
    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* features */

.features .title {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
}

.features .text {
    font-size: 14px;
    line-height: 1.71;
}

/* team */
.team.section {
    background-color: var(--second-bg-color);
}

.team .card {
    background-color: var(--primary-white-color);
}
.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
}

/* footer */
.footer {
    background-color: var(--accent-bg-color);
}

.footer .studio {
    color: var(--primary-white-color)
}

/* address */
.address {      
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.map {
    color: var(--primary-white-color);
} 

.footer .contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

/* PORTFOLIO */

/* filter */
.button.secondary{
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--btn-bg-hover);
}

/* examples */
.exampl-title {
    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.exampl-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}